//import variables
@import "variables";

//import mixins
@import "mixins";

.nav {
  li {
    display: inline-block;
    @include border-radius(4px);
  } .active {
    background: $brand-success;
  } .active a {
    color: white;
  } .active a:hover, a {
    color: $brand-success;
  }
}
